// css reset
@import "./reset";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap');

// base styles
body {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 1.5;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 64px;
    line-height: 84px;
}

section, footer {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


//utility
.mt-14 {
    margin-top: 56px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-5 {
    margin-bottom: 20px;
}

.mb-6 {
    margin-bottom: 24px;
}

.mb-7 {
    margin-bottom: 28px;
}

.mb-8 {
    margin-bottom: 32px;
}

.mb-10 {
    margin-bottom: 40px;
}

.mb-14 {
    margin-bottom: 56px;
}

.mb-17 {
    margin-bottom: 68px;
}

.mb-36 {
    margin-bottom: 144px;
}

.mb-40 {
    margin-bottom: 160px;
}


.pt-7 {
    padding-top: 28px;
}

.py-16 {
    padding-top: 64px;
    padding-bottom: 64px;
}


// main styles

.header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-content {

        p {
            font-size: 24px;
            line-height: 1.75;
            font-weight: 700;
        }

        h1 {
            font-size: 80px;
            line-height: 1.325;
            font-weight: 900;
        }

        h3 {
            font-size: 24px;
            font-weight: 700;
        }

    }

    &-icon {
        display: flex;
        justify-content: center;
        gap: 16px;

        a:hover {
            opacity: 0.5;
        }
    }
}

.about {

    ul {
        font-size: 24px;
        line-height: 1.75;
        font-weight: 700;
    }

    &-content {
        li:last-child {
            line-height: 1.5;
        }
    }

    &-list {
        width: 384px;
        margin: 0 auto;
        border-top: 1px solid #000;
        margin-bottom: 56px;

        li::before {
            content: '';
            background-color: #891818;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 16px;
        }
    }
}

.brand {
    background-color: #000;
    color: #fff;
    border: 1px solid #707070;

    h3 {
        font-size: 24px;
        line-height: 1.75;
    }

    p {
        font-size: 20px;
    }

    &-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
        column-gap: 24px;
    }
}

.work {
    
    p {
        font-size: 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 48px;
    }
}

.footer {
    background-color: #000;
    color: #fff;

    li {
        font-size: 24px;

        a:hover {
            text-decoration: underline;
            color: #891818;
        }
    }
}